.text-node-card-header {
  background-color: rgb(173, 238, 217) !important;
  display: flex;
  justify-content: space-between;
}

.form-actions {
  display: flex;
  column-gap: 10px;
}

.setting-panel-wrapper {
  border-left: 1px solid #eee;
}

.setting-panel {
  margin-top: 10px;
}

.circle-icon {
  border: 1px solid white;
  background-color: white;
  width: 30px;
  height: 30px;
  padding: 1px;
  border-radius: 50%;
  text-align: center;
}

.nav-bar-wrapper {
  background-color: #eee;
  padding: 10px;
}

.save-btn {
  display: flex;
  flex-direction: row-reverse;
}

.toast {
  border-radius: 5px;
  text-align: center;
}

.toast-error {
  border: 1px solid red;
  color: red;
}
